<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:include="pageLayout/header"></th:block>

<div class="container" style="margin-bottom:20px;">
    <div class="row">
        <div class="col-sm-12">
            <h2>Contact Us</h2>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.</p>
            <form>
                <div class="form-row">
                    <div class="form-group col-sm-12">
                        <label for="inputEmail4"><h6>Email:</h6></label>
                        <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
                    </div>
                    <div class="form-group col-sm-6">
                        <label for="firstName"><h6>First Name:</h6></label>
                        <input type="text" class="form-control" id="firstName" placeholder="First Name">
                    </div>
                    <div class="form-group col-sm-6">
                        <label for="inputPasswordConfirm"><h6>Last Name:</h6></label>
                        <input type="text" class="form-control" id="inputPasswordConfirm" placeholder="Last Name">
                    </div>
                    <div class="form-group col-sm-12">
                        <label for="exampleInputText"><h6>Your Message:</h6></label>
                        <textarea  class="form-control" id="exampleInputText" placeholder="Description"></textarea>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Send Message!</button>
            </form>
        </div>
    </div><!-- /.row -->

</div><!-- /.container -->

<th:block th:include="pageLayout/footer"></th:block>